# ./.env 
# for our environment

API_WEB=http://
FRONT_URL=http://
AWS_S3_BUCKET=pixelsss
AWS_REGION=us-east-2
AWS_S3=https://s3.${AWS_REGION}.amazonaws.com/${AWS_S3_BUCKET}
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DB_NAME=pixelapp
DB_USER=admin
DB_PASSWORD=
MONGO_DB=mongodb://${DB_USER}:${DB_PASSWORD}@mongo_db:27017/${DB_NAME}
EMAIL_USER=
EMAIL_PASS=
