
# terraform state file setup
# create an S3 bucket to store the state file in
resource "aws_s3_bucket" "yg-pixelistic-terraformstate" {
    bucket = "yg-pixelistic-terraformstate"
 
    versioning {
      enabled = true
    }
 
    lifecycle {
      prevent_destroy = true
    }
 
    region     = var.region

    tags {
      ita_group = "${var.tag_value}"
      Name = "yg-pixelistic-terraformstate"
    }      
}